@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');
*{
  font-family: 'roboto';
}

.logo {
  width: 230px;
}

.estiloNav {
  background-color: #ffaa00;
  font-size: 1.3rem;
}

.nav-link {
  color: #1755b3;
}
.nav-link:hover {
  color: #fff;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.icons2 {
  font-size: 2rem;
  color: #1755b3;
}
.icons2:hover {
  color: #fff;
}
.icons {
  font-size: 1.3rem;
  color: #1755b3;
}
.icons:hover {
  color: #c48200;
}
.btn1 {
  background-color: #3b89ff;
  color: #fff;
  margin-right: 10px;
}
.btn2 {
  background-color: #fff;
  border: 1px solid #3b89ff;
  color: #3b89ff;
}
.btn3 {
  background-color: #3b89ff;
  color: #fff;
}
main{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
/* .span_class{
  background-color: #ffaa00;
  color: white;
  font-weight: bold;
  font-size: small;
} */
legend{
  color:#032a66;
}
footer{
  position: absolute;
  bottom: -700px;
}

 /* .tamIcon{
  width: 10px;
  height: 10px;

}  */

.mensagem{
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0;
  color:#032a66;
}


