@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');
*{
  font-family: 'roboto';
}
/* Estilização da logo */
.logo {
  width: 230px;
}
/* Estilização da nav */
.estiloNav {
  background-color: #ffaa00;
  font-size: 1.3rem;
}

.nav-link {
  color: #1755b3;
}
.nav-link:hover {
  color: #fff;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
/* Estilização dos icons da navbar */
.icons2 {
  font-size: 2rem;
  color: #1755b3;
}
.icons2:hover {
  color: #fff;
}
/* Estilização dos icons do footer, (facebook, instagram, whatsapp) */
.icons {
  font-size: 1.3rem;
  color: #1755b3;
}
.icons:hover {
  color: #c48200;
}
.btn1 {
  background-color: #3b89ff;
  color: #fff;
}
.titulo{
  background-color: #ffaa00;
  color: #fff;
}
.img{
  width: 200px;
}
h1{
  margin: 10px 10px 10px 20px;
  color:#1755b3 ;
}
.p1{
  margin: 10px 10px 10px 20px;
}
