.logo {
  width: 230px;
}

.estiloNav {
  background-color: #ffaa00;
  font-size: 1.3rem;
}

.nav-link {
  color: #1755b3;
}
.nav-link:hover {
  color: #fff;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.icons2 {
  font-size: 2rem;
  color: #1755b3;
}
.icons2:hover {
  color: #fff;
}
.icons {
  font-size: 1.3rem;
  color: #1755b3;
}
.icons:hover {
  color: #c48200;
}
.btn1 {
  background-color: #3b89ff;
  color: #fff;
}
.btn2 {
  background-color: #fff;
  border: 1px solid #3b89ff;
  color: #3b89ff;
}

.span_class{
  background-color: #ffaa00;
  color: white;
  font-weight: bold;
  font-size: small;
}
.input_item{
  height: 3rem;
  font-size: 1.1rem;
}
h3{
  color: #032A66;
}
#tabela{
  border-bottom:1px solid #1755b3;  
}
th{
  color: #032A66;
  font-weight: bolder;
  font-size: 1.2rem;
}
.tabela_cabecalho{
  border-top: 3px dashed #ffaa00;
  border-bottom: 2px #ffaa00;
}
