/* Bianca */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

/* Toda a página recebe a fonte roboto */
*{
  font-family: 'roboto';
}

/* Estilização da nav e do footer */
.logo {
  width: 230px;
}

.estiloNav {
  background-color: #ffaa00;
  font-size: 1.3rem;
}

.nav-link {
  color: #1755b3;
}

.nav-link:hover {
  color: #fff;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

/* Ícones das redes sociais no footer */
.icons{
  font-size: 1.3rem;
  color: #1755b3;
}

.icons:hover {
  color: #c48200;
}

/* Ícone do menu-hamburguer */
.icons2 {
  font-size: 2rem;
  color: #1755b3;
}

.icons2:hover {
  color: #fff;
}

/* Ícone dos botões de ação */
.icons3{
  padding: 0;
  margin-right: 5px;
  font-size: 1.4rem;
  color: #1755b3;
}

.icons3:hover {
  color: #c48200;
}

/* Estilização do tamanho das estrelas */
#ratingStar{
  font-size:1.1rem;
}

/* Ícone das estrelas */
.yellowStar {
  padding: 0;
  font-size: 1.2rem;
  color:#ffaa00;
}

.yellowStar:hover {
  color: #c48200;
}

/* Ícone das estrelas */
.grayStar {
  padding: 0;
  font-size: 1.2rem;
  color:#b8b8b8;
}

.grayStar:hover {
  color: #949494;
}

/* Estilização da maior parte dos botões */
.btn1 {
  background-color: #3b89ff;
  color: #fff;
}

/* Estilização do botão cancelar */
.btn2 {
  background-color: #fff;
  border: 1px solid #3b89ff;
  color: #3b89ff;
}

/* Estilização da main */
main{
  margin: auto;
  width: 85%;
}

p{
  text-align: justify;
  font-size: 1.2rem;
  color: #032A66;
}

/* Estlização do span nos elementos de formulário como input e select */
.span_class{
  padding: 10px 5px;
  background-color: #ffaa00;
  color: white;
  font-weight: bolder;
  font-size:1.1rem;
}

/* Estilização dos inputs */
.input_item{
  font-size: 1.1rem;
}

h1{
  color: #1755b3;
}

/* Estilização da tabela */
#tabela{
  border-bottom:1px solid #1755b3;  
}

.tabela_cabecalho{
  border-top: 3px dashed #ffaa00;
  border-bottom: 2px #ffaa00;
}

th{
  color: #032A66;
  font-weight: bolder;
  font-size: 1.2rem;
}

/* Adição de responsividade para a main quando a tela for igual ou menor a 768px */
@media screen and (max-width: 768px){
  main{
    width: 100%;
  }
}


